$TablePageSettingsContextModal-minWidth: 200px;

.pageButton {
  display: flex;

  align-items: center;

  cursor: pointer;

  height: var(--space-5xl);
  padding: 0 var(--space-l);
  border-radius: var(--control-radius-l);

  background: var(--control-clear-bg-bg);

  .text {
    color: var(--control-clear-typo-typo);
  }

  &:hover {
    background: var(--control-clear-bg-bg-hover);

    .text {
      color: var(--control-clear-typo-typo-hover);
    }
  }

  &.isOpen {
    background: var(--control-clear-bg-bg-select);

    .text {
      color: var(--control-clear-typo-typo-select);
    }
  }
}

.TablePageSettingsContextModal {
  background-color: var(--bg-main-tertriary);

  min-width: $TablePageSettingsContextModal-minWidth;
  padding: var(--space-2xl);
}