$icon-width: 232px;
$icon-height: 48px;
$header-height: 100px;

.ClientHeader {
  height: $header-height;

  justify-content: space-between;

  .icon {
    width: $icon-width;
    height: $icon-height;
  }
}