$iconWidth: 232px;
$headerHeight: 100px;

.ClientHeader {
  justify-content: space-between;

  height: $headerHeight;

  .sideLeft,
  .sideRight {
    flex: 1;
  }

  .center {
    flex: 0 0 auto;
  }

  .icon {
    width: $iconWidth;
    height: var(--space-6xl);
  }
}