.BaseTableDataRow {
  display: grid;
}

.pointer {
  cursor: pointer;
}

.space {
  height: var(--space-s);
  width: 100%;
  background: var(--bg-main-secondary);
}

.rowHeader {
  height: 38px;
  box-sizing: border-box;
  padding: var(--space-xs) var(--space-l);
  border-radius: var(--control-radius-round-m) var(--control-radius-round-m) 0 0;
  background: var(--bg-main-quaternary);
}
