/* stylelint-disable */
.Theme_color_gpnDefault {
  --color-scroll-bg: var(--bg-main-quaternary);
  --color-scroll-thumb:  var(--control-default-typo-typo-placeholder);
  --color-scroll-thumb-hover:  var(--control-default-typo-typo-placeholder);

  /*// Цвета тени /////////// *!*/
  --color-shadow-group-1: rgba(18, 18, 18, 0.3);
  --color-shadow-group-2: rgba(18, 18, 18, 0.3);
  --color-shadow-layer-1: rgba(18, 18, 18, 0.3);
  --color-shadow-layer-2: rgba(18, 18, 18, 0.3);
  --color-shadow-modal-1: rgba(18, 18, 18, 0.3);
  --color-shadow-modal-2: rgba(18, 18, 18, 0.3);

  /* Light */
  /* color */
  --bg-auxiliary-primary: #a6a6a6;
  --bg-auxiliary-quaternary: #808080;
  --bg-auxiliary-secondary: #999999;
  --bg-auxiliary-tertriary: #8c8c8c;
  --bg-border-primary: #babfc5;
  --bg-border-secondary: #d9d9d9;
  --bg-border-tertriary: #ebebeb;
  --bg-link-link: #0078d2;
  --bg-main-body: #f3f3f4;
  --bg-main-brand: #231f20;
  --bg-main-default: #ffffff;
  --bg-main-primary: #f0f0f0;
  --bg-main-quaternary: #e1e3e6;
  --bg-main-secondary: #ffffff;
  --bg-main-select: #dfe0e2;
  --bg-main-tertriary: #f2f2f5;
  --bg-shadow-shadow-1: #12121226;
  --bg-split-ghost: #1212121a;
  --bg-split-paranja: #00000066;
  --bg-split-soft: #ffffffe5;
  --bg-split-stripe: #1010100d;
  --bg-split-tone: #000000d9;
  --bg-status-alert: #f9d2d2;
  --bg-status-caution: #f4efcc;
  --bg-status-critical: #f7cad9;
  --bg-status-normal: #dddddd;
  --bg-status-success: #c6ece0;
  --bg-status-system: #d8dee2;
  --bg-status-warning: #f3d6ac;
  --bg-table-primary: #ffffff;
  --bg-table-secondary: #fafafa;
  --bg-table-tetriary: #ededed;
  --card-bg-default: #f2f4f5;
  --card-bg-hover: #e3e4e5;
  --control-clear-bg-bg: #ffffff00;
  --control-clear-bg-bg-hover: #1c1c1c1a;
  --control-clear-bg-bg-select: #dadbde;
  --control-clear-typo-typo: #343434;
  --control-clear-typo-typo-alert: #eb3333;
  --control-clear-typo-typo-alert-hover: #eb3333;
  --control-clear-typo-typo-hover: #1c1c1c;
  --control-clear-typo-typo-select: #737373;
  --control-clear-typo-typo-select-active: #262626;
  --control-clear-typo-typo-select-hover: #737373;
  --control-default-bg-bg: #f2f3f5;
  --control-default-bg-bg-active: #f2f3f5;
  --control-default-bg-bg-hover: #e5e7eb;
  --control-default-border-border: #babfc5;
  --control-default-border-border-active: #231f20;
  --control-default-border-border-alert: #ff4443;
  --control-default-border-border-alert-hover: #f01616;
  --control-default-border-border-focus: #1a1717;
  --control-default-border-border-hover: #b8b9bb;
  --control-default-border-border-success: #34e8ac;
  --control-default-border-border-success-hover: #27e292;
  --control-default-border-border-warning: #f2c94c;
  --control-default-border-border-warning-hover: #ffc000;
  --control-default-typo-typo: #121212;
  --control-default-typo-typo-active: #1c1c1c;
  --control-default-typo-typo-placeholder: #1c1c1c66;
  --control-disable-bg-bg: #e3e6e6;
  --control-disable-border-border: #fafafa00;
  --control-disable-typo-typo: #b3b3b3;
  --control-ghost-bg-bg: #e8ebeb00;
  --control-ghost-bg-bg-hover: #e8ebeb;
  --control-ghost-bg-bg-select: #dcdde0;
  --control-ghost-border-border: #dcdde0;
  --control-ghost-border-border-hover: #dcdde0;
  --control-ghost-border-border-select: #dcdde0;
  --control-ghost-typo-typo: #4c4c4c;
  --control-ghost-typo-typo-hover: #4c4c4c;
  --control-ghost-typo-typo-select: #4c4c4c;
  --control-primary-bg-bg: #343434;
  --control-primary-bg-bg-alert: #e55c5c;
  --control-primary-bg-bg-alert-hover: #f26161;
  --control-primary-bg-bg-hover: #4d4d4d;
  --control-primary-typo-typo: #ffffff;
  --control-primary-typo-typo-alert: #ffffff;
  --control-primary-typo-typo-alert-hover: #ffffff;
  --control-primary-typo-typo-hover: #ffffff;
  --control-secondary-bg-bg: #d9dade;
  --control-secondary-bg-bg-hover: #e5e6eb;
  --control-secondary-typo-typo: #383838;
  --control-secondary-typo-typo-hover: #383838;
  --counter-bg: #da3535;
  --counter-typo: #ffffff;
  --point-card-bg-alert: #f8e2e2;
  --point-card-bg-success: #bfffed;
  --point-card-bg-warning: #ffe9cc;
  --point-card-border-alert: #ff8080;
  --point-card-border-success: #66ccb0;
  --point-card-border-warning: #ffc880;
  --schema-bg-alert-active: #b27070;
  --schema-bg-alert-default: #e59090;
  --schema-bg-alert-hover: #cc8181;
  --schema-bg-caution-active: #a69560;
  --schema-bg-caution-default: #d9c37e;
  --schema-bg-caution-hover: #bfac6f;
  --schema-bg-coffee-active: #8c6043;
  --schema-bg-coffee-default: #bf835b;
  --schema-bg-coffee-hover: #a6724f;
  --schema-bg-default-active: #999999;
  --schema-bg-default-default: #bfbfbf;
  --schema-bg-default-hover: #b3b3b3;
  --schema-bg-disable-default: #b3b3b3;
  --schema-bg-disposable-active: #808080;
  --schema-bg-disposable-default: #bfbfbf;
  --schema-bg-disposable-hover: #999999;
  --schema-bg-primary-active: #188d99;
  --schema-bg-primary-default: #22c8d9;
  --schema-bg-primary-hover: #1ca4b2;
  --schema-bg-secondary-active: #e04e5c;
  --schema-bg-secondary-default: #db7a83;
  --schema-bg-secondary-hover: #e3636f;
  --schema-bg-success-active: #5b8c7b;
  --schema-bg-success-default: #7cbfa8;
  --schema-bg-success-hover: #6ca692;
  --schema-bg-warning-active: #a67443;
  --schema-bg-warning-default: #d99857;
  --schema-bg-warning-hover: #bf864d;
  --schema-bg-water-active: #358fb2;
  --schema-bg-water-default: #45b9e5;
  --schema-bg-water-hover: #3da4cc;
  --schema-typo-alert-default: #e57373;
  --schema-typo-caution-default: #d9b957;
  --schema-typo-coffee-default: #bf835b;
  --schema-typo-default-default: #bfbfbf;
  --schema-typo-disposable-default: #959595;
  --schema-typo-primary-default: #22c8d9;
  --schema-typo-secondary-default: #db7a83;
  --schema-typo-success-default: #60bf9f;
  --schema-typo-water-default: #45b9e5;
  --scrollbar-bg-active: #c1c1c1;
  --scrollbar-bg-hover: #8c8c8c;
  --typo-link-link: #0078d2;
  --typo-link-link-hover: #008efa;
  --typo-link-link-minor: #1c5682;
  --typo-main-brand: #231f20;
  --typo-main-ghost: #b8b8b8;
  --typo-main-primary: #231f20;
  --typo-main-secondary: #737373;
  --typo-status-alert: #ff5d5c;
  --typo-status-caution: #e8cb30;
  --typo-status-critical: #d7426e;
  --typo-status-normal: #4d4d4d;
  --typo-status-success: #26cf96;
  --typo-status-system: #7b8f9e;
  --typo-status-warning: #f38b01;
}
