$productCellHeight: 182px;
$productCellHeightSmall: 139px;
$imgHeight: 120px;
$imgHeightSmall: 77px;
$badgeHeight: 22px;

.ProductMatrix {
  padding: var(--space-m);

  .productRow {
    .productCell {
      flex: 1;

      border: 1px solid var(--bg-border-primary);
      border-radius: var(--control-radius-m);
      box-sizing: border-box;
      height: $productCellHeight;
      padding: calc(var(--space-2xs) - 1px);

      background: var(--bg-main-secondary);

      .imgWrapper {
        height: $imgHeight;
        width: 100%;

        .img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .badge {
        height: $badgeHeight;
        width: 100%;
        border-radius: var(--control-radius-s);
      }

      .badgeFilled {
        height: var(--space-2xl);

        background-color: var(--control-primary-bg-bg);

        .text {
          color: var(--control-primary-typo-typo);
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 768px) {
    .productRow {
      .productCell {
        height: $productCellHeightSmall;

        .imgWrapper {
          height: $imgHeightSmall;
        }
      }
    }
  }
}
