$productCell-height: 182px;
$img-height: 120px;
$badge-height: 22px;
$badgePrimary-height: 28px;

.ProductMatrix {
  padding: var(--space-m);

  .ProductRow {
    .ProductCell {
      background-color: #fff;
      height: $productCell-height;
      flex: 1;

      box-sizing: border-box;

      padding: calc(var(--space-2xs) - 1px);

      border-radius: var(--control-radius-m);
      border: 1px solid var(--bg-border-primary);

      .imgWrapper {
        height: $img-height;
        width: 100%;

        .img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .badge {
        height: $badge-height;
        width: 100%;
        border-radius: var(--control-radius-s);
      }

      .badgeFilled {
        height: $badgePrimary-height;
        background-color: var(--control-primary-bg-bg);

        .text {
          color: var(--control-primary-typo-typo);
        }
      }
    }
  }
}
