VITE_APP_URL_FRONT=http://localhost:3000

VITE_APP_URL_AUTH=https://kk.ishaker.ru:4437
#VITE_APP_URL_AUTH=https://kk.fitvend.fit

VITE_APP_BASE_URL=https://dev.ishaker.ru/api/
#VITE_APP_BASE_URL=https://tm.fitvend.fit/api

VITE_APP_SECRET_KEY=YourSuperSecretKeyThatIsLong123
VITE_APP_ADMIN_CHAT_ID=-4712782635
VITE_APP_ADMIN_BOT_TOKEN=7400343875:AAHCONy6D7byygFWu3GtbXI-U4vJoepWsFE
VITE_APP_DEFAULT_BOT_NAME=testName
VITE_APP_GEOTREE_KEY=ВАШ_КЛЮЧ
VITE_APP_SNACK_API_URL=http://localhost:4000
VITE_APP_SNACK_MEDIA_PREFIX=/media
